p text {
  text-align: center;
  text-decoration: uppercase;
}

.btn {
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 10px 30px;
}

