<div class="container">
  <footer class="footer">
    <div class="row">
      <div class="col-2">
        <h5>Quick Links</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a class="nav-link p-0 text-muted" routerLink="home">Home</a>
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link p-0 text-muted" routerLink="about">About Me</a>
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link p-0 text-muted" routerLink="projects">My Projects</a>
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link p-0 text-muted" routerLink="bio">My Bio</a>
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link p-0 text-muted" routerLink="home">Resume</a>
          </li>
        </ul>
      </div>
      <div class="col-2 offset-2">
        <h5>Social Links</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a class="nav-link p-0 text-muted" routerLink="home"><img class="icons" src="../../../assets/icons/github.svg">Github</a>
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link p-0 text-muted" routerLink="about"><img class="icons" src="../../../assets/icons/twitter.svg">Twitter</a>
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link p-0 text-muted" routerLink="projects"><img class="icons" src="../../../assets/icons/instagram.svg">Instagram</a>
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link p-0 text-muted" routerLink="bio"><img class="icons" src="../../../assets/icons/facebook.svg">Facebook</a>
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link p-0 text-muted" routerLink="home"><img class="icons" src="../../../assets/icons/youtube.svg">Youtube</a>
          </li>
        </ul>
      </div>
      <div class="col-4 offset-2">
        <h5>Shaik Shahbaaz Alam</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a class="nav-link p-0 text-muted" routerLink="home">Let's get in touch</a>
          </li>
        </ul>
          <div class="d-flex w-100 gap-2 mb-2">
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <a href="mailto:shahjiokhan7@gmail.com"><button class="btn">Connect via email?</button></a>
              </li>
            </ul>
          </div>
      </div>
    </div>
    <div class="copyright">
      <p class="text">Shaik shahbaaz Alam © 2022, All rights reserved.</p>
    </div>
  </footer>
</div>
