<div class="container">
  <div class="section my-5">
    <h1 class="h ml-5">My Projects</h1>
    <ul>
      <li>
        <a href="https://github.com/ShahbaazX786/50-Projects-in-50-Days" target="_blank">Portfolio</a>
      </li>
      <li>
        <a>Gymson</a>
      </li>
      <li>
        <a>Pizzeria</a>
      </li>
      <li>
        <a>To-DO</a>
      </li>
      <li>
        <a>Meme Board</a>
      </li>
      <li>
        <a>50js projects in 50 Days</a>
      </li>
    </ul>
  </div>
</div>
