<div class="container py-2">
  <h1>About Me</h1>
  <div class="content">
    <p class="text my-4">
      My name is <strong>Shaik Shahbaaz Alam</strong> (aka <strong>Shahbaaz</strong>) graduated from G.Pullaiah College Of Engineering And Technology, Department of Computer Science And Engineering (CSE).
    </p>
    <p class="text my-4">
      I am focusing on <abbr title="MongoDB, EXpressJS, Angular, NodeJS"><strong>MEAN</strong></abbr> Stack which includes <strong>Angular Frontend development framework</strong> and some related Technologies, I said my first “Hello World!” in June 2017. I love
      coding with <strong>Angular</strong> because it has a special approach to web development by building components and combine together
      like a lego game / puzzle.
    </p>
    <p class="text my-4">I have been playing around with some new Technologies and made some side-projects from simple to advanced combined with several frameworks and libraries. You can refer to My <a routerLink="../projects">Projects</a>.</p>
    <p class="text my-4">I often try to improve my skills and gain some certificates, which you can look at <a routerLink="../bio">My Bio.</a></p>
    <p class="text my-4">Have a look at <a routerLink="../bio">My Articles</a> which I tend to write in my past time.</p>
  </div>
</div>
<div class="line"></div>
